<div class="nav-container">
  <a href="/" class="logo">게시판</a>

  <div class="menu-bar">
    <a href="/posts" class="menu-item">게시글</a>
    <a href="/signup" class="menu-item">가입하기</a>
    <a href="/login" class="menu-item">로그인</a>
    <a href="/create-post" class="menu-item">글쓰기</a>
    <a href="/profile" class="menu-item">프로필</a>
    <form action="/logout" method="POST">
      <button class="menu-item">로그아웃</button>
    </form>
  </div>
</div>
