<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', { title: '사용자가 인증되지 않았습니다.' }) %>
    <link rel="stylesheet" href="/styles/error.css" />
  </head>

  <body>
    <%- include('includes/header') %>
    <main>
      <h1>인증되지 않음</h1>
      <p>인증되지 않았으므로 이 페이지에 액세스할 수 없습니다.</p>
      <a class="btn" href="/">안전한 페이지로 돌아가기</a>
    </main>
  </body>
</html>
