<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', { title: '문제가 발생했습니다.' }) %>
    <link rel="stylesheet" href="/styles/500.css" />
  </head>

  <body>
    <%- include('includes/header') %>
    <main>
      <h1>문제가 발생했습니다!</h1>
      <p>죄송합니다. 문제가 발생했습니다. 해결하기 위해 노력하고 있습니다.</p>
      <a class="btn" href="/">안전한 페이지로 돌아가기</a>
    </main>
  </body>
</html>
