<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', { title: "프로필" }) %>
    <link rel="stylesheet" href="/styles/board.css" />
  </head>

  <body>
    <%- include('includes/header') %>
    <h1>나의 게시글 목록</h1>
    <p>게시글을 확인해보세요.</p>
  </body>
</html>
