<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', { title: "가입하기" }) %>
  </head>

  <body>
    <%- include('includes/header') %>
    <form
      action="/signup"
      method="POST"
      class="main-container"
      id="main-write-container"
    >
      <div class="main-title">
        <h1>가입하기</h1>
        <p>회원가입을 해보세요.</p>
      </div>
      <div class="board-write-container">
        <div class="board-write">
          <div class="write-title">
            <label for="email">이메일</label>
            <input type="email" id="email" required name="email" value="" />
          </div>
          <div>
            <label for="confirm-email">이메일 확인</label>
            <input
              type="email"
              id="confirm-email"
              required
              name="confirm-email"
              value=""
            />
          </div>
          <div>
            <label for="password">비밀번호</label>
            <input
              type="password"
              id="password"
              required
              name="password"
              value=""
            />
          </div>
        </div>
      </div>
      <div class="btn-wrap">
        <button class="btn-add">가입</button>
        <a href="/" class="btn-cancel">취소</a>
      </div>
      <a href="/login" class="btn-login">로그인 하러가기</a>
    </form>
  </body>
</html>
