.auth-form {
  max-width: 25rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  /* border: 1px solid black; */
  border-radius: 6px;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.auth-alternative {
  margin-top: 1rem;
}

.btn-auth {
  background-color: rgb(152, 152, 153);
  display: inline-block;
  margin-left: 10px;
  padding: 0.5rem 5rem;
  font-size: 0.9rem;
  border-radius: 2px;
  color: black;
  color: white;
}

.btn-auth:hover {
  background-color: rgb(135, 135, 141);
}

.input-error {
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: rgb(251, 217, 217);
  color: rgb(144, 33, 33);
  border-radius: 4px;
}
